<!DOCTYPE html>
<html>
<head>
  <title>WarmItUpRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= link_to "sign in", "/auth/github" %>
<% if current_user %>
<%= current_user.name %>
<%end %>
</body>
</html>
